﻿body, html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url(../Content/Images/background2.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#logo-content {
    position: relative;
}

#logo-content img {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logo-img {
    width: 177px;
}
